{% block content %}
    <div class="slider">
        {% if content.field_title.0 %}
        <h2>{{ content.field_title.0 }}</h2>
        {% endif %}
        <div class="slick">
            {{ content.field_slides }}
        </div>
    </div>
{% endblock %} 