*[class*="box"] {
    &:not([class*="checkbox"]) {
        padding:50px 30px;
        height:100%;        
    }
    &.box1 {
        background:$blue;
        color:#fff;
        h2,h3,h4 {
            color:#fff;
            margin-top:0;
            font-family: $font-mw;
        }
        a {
            color:#fff;
        }
    }
    &.box2 {
        background:$dk-blue;
        color:#fff;
        h2,h3,h4 {
            color:#fff;
            margin-top:0;
            font-family: $font-mw;
        }
        a {
            color:$teal;
        }
    }
    &.box3 {
        background:$lt-gray;
        color:$dk-blue;
        padding:20px;
        h2,h3,h4 {
            color:$dk-blue;
            margin-top:0;
            font-family: $font-mw;
        }
    }
    &.box4 {
        background:$red;
        color:#fff;
        h2,h3,h4 {
            color:#fff;
            margin-top:0;
            font-family: $font-mw;
        }
        a {
            color:#fff;
        }
        .more-link {
            a {
                background:$blue;
                color:#fff;
                &::after {
                    content: "";
                    background: darken($blue, 25%);
                    position: absolute;
                    height: 3px;
                    width:0;
                    left: 0;
                    bottom: 0;
                    @include transition(width .3s $cubic);
                }
                &:hover, &:focus {
                    background: darken($blue, 10%);
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    &.center {
        text-align:center;
    }
    &.title1 {
        h2 { 
            position: relative;
            &::after {
                content: "";
                height: 2px;
                background: #fff;
                width: 50%;
                display: block;
                margin: 10px auto 20px;
            }
        }
    }
    &.title2 {
        h2 {
            text-transform: uppercase;
            font-family: $font-ss;
        }
    }
    &.cta {
        margin:0 20px 20px 20px;
    }
}
.image-hero {
    .img {
        position:relative;
        &::before {
            background:rgba($blue, .6);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        + div {
            &.has-hero {
                position: absolute;
                bottom: 20px;
                left: 0;
                width: 100%;
                @include breakpoint(xs) {
                    position: relative;
                    bottom: 0;
                }
                h1 {
                    color:#fff;  
                    @include breakpoint(xs) {
                        color:$dk-blue;
                        margin:15px 0 25px;
                    }
                }
            }
        }
    }
}
.hero {
    position: relative;
    .img {
        position: relative;
        &::before {
            background:rgba(#fff,.4);
            content: "";
            width:100%;
            height:100%;
            position: absolute;
            left:0;
            top:0;
        }
        img {
            width: 100%;
            min-height: 400px;
            @include breakpoint(md) {
                width:auto;
                max-width: none;
            }
            @include breakpoint(sm) {
                width:auto;
                max-width: none;
            }
            @include breakpoint(xs) {
                min-height: 0;
            }
        }
    }
    .text {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left: 0;
        @include breakpoint(xs) {
            position: relative;
        }
        .blurb {
            background:#fff;
            padding:30px;
            margin:30px 0;
            @include breakpoint(xl) {
                margin:100px 0;
            }
            @include breakpoint(lg) {
                margin:60px 0;
            }
            @include breakpoint(xs){
                padding:0;
            }
            h1 {
                font-size:36px;
                line-height: 42px;
                margin-top: 0;
            }
            p {
                color:$md-gray;
                font-size:20px;
                line-height:28px;
            }
        }
    }
}
.featured-candidates {
    h2 {
        color:#fff;
        text-align: center;
        margin-bottom:30px;
    }
    .img {
        border-radius: 100%;
        overflow: hidden;
        width:75%;
        margin:0 auto;
        position: relative;
        &::before {
            background: transparent;
            content: "";
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 100%;
            @include transition(background .3s linear);
        }            
        &:hover, &:focus {
            &::before {
                background: rgba(#fff, .4);
            }
        }
    }
    .text {
        text-align: center;
        color:#fff;
        h3 {
            margin-bottom:5px;
            a {
                color:#fff;
            }
        }
        h4 {
            margin-top:0px;
            opacity: .5;
        }
    }
    .cta {
        text-align:center;
        margin-top:40px;
    }
}
.candidates-filter {
    margin-bottom:30px;
    .form-item {
        display: inline-block;
        width: auto;
        @include breakpoint(xs) {
            display:block;
            width:100%;
        }
        label {
            display: inline-block;
            font-size: 22px;
            vertical-align: bottom;
            margin-bottom: 0;
        }
        .form-text {
            padding:9px 10px 8px 10px;
        }
        .bootstrap-select {
            display: inline-block;
            margin-left: 20px;
            width:auto!important;
            @include breakpoint(xs) {
                display:block;
                width:100%!important;
                margin:0;
            }
        }
    }
    .form-actions {
        float:right;
        @include breakpoint(xs) {
            float:none;
        }
        .btn {
            background:$dk-blue;
            color:#fff;
            @include breakpoint(xs) {
                margin:0 15px;
            }
            &:hover, &:focus {
                background:lighten($dk-blue,15%);
            }
        }
    }
}
.social-share {
    position: fixed;
    left: 0;
    z-index: 1;
    @include breakpoint(xs) {
        position: relative;
        margin:20px 0;
    }
    > * {
        color: #fff;
        display: block;
        line-height: 43px;
        font-size: 20px;
        text-align: center;
        text-decoration: none !important;
        width: 40px;
        height: 40px;
        @include transition(background .3s linear);
        @include breakpoint(xs) {
            display:inline-block;
        }
        &.facebook {
            background:#3b5998;
            &:hover, &:focus {
                color:#fff;
                background:darken(#3b5998,10%);
            }
        }
        &.twitter {
            background:#1da1f2;
            &:hover, &:focus {
                color:#fff;
                background:darken(#1da1f2,10%);
            }
        }
        &.email {
            background:#323a45;
            &:hover, &:focus {
                color:#fff;
                background:darken(#323a45,10%);
            }
        }
        &.copy-link {
            background:$dk-gray;
            cursor: pointer;
            position: relative;
            &:hover, &:focus {
                color:#fff;
                background:darken($dk-gray,10%);
                &::before {
                    background: $dk-gray;
                    bottom: 0;
                    color: #fff;
                    content: "Copy Link";
                    font-size: 16px;
                    line-height: 18px;
                    left: calc(100% + 10px);
                    padding: 10px;
                    position: absolute;
                    white-space: nowrap;
                    @include breakpoint(xs) {
                        left: 0;
                        bottom:calc(100% + 10px);
                    }
                }
            }
            &.success {
                &:hover, &:focus {
                    &::before {
                        content:"Copied!";
                        background:$green;
                    }
                }
            }
        }
    }
}
.news {
    .teaser {
        + .teaser {
            margin-top:40px;
            border-top:1px solid $lt-gray;
        }
    }
}
.podcasts {
    article {
        background:$lt-gray;
        padding: 20px;
        h3 {
            margin-top: 0;
        }
    }
}
.events {
    margin-top:60px;
    &.full {
        margin-top:0;
    }
    footer {
        clear:both;
    }
    .teaser {
        margin-bottom: 30px;
        .text {
            background:$lt-gray;
            height:auto;
            margin-bottom:30px;
            padding:20px;
            h3 {
                margin: 0;
            }
            .date {
                color:$blue-gray;
                font-style: italic;
                margin:20px 0;
            }
        }
    }
}
.ten-questions {
    background:$blue-gray;
    margin:40px 0;
    padding:40px 0;
    h2 {
        text-align: center;
        color: #fff;
    }
    article {
        background:#fff;
        border:1px solid $lt-gray;
        border-top:5px solid $blue;
        padding:15px;
        h3 {
            margin-top: 0;
        }
        p {
            line-height: 24px;
        }
    }
    .cta {
        margin-top: 40px;
        text-align: center;
    }
}