div[class*="box"], nav[class*="box"] {
    &:not([class*="checkbox"]) {
        padding:50px 30px;
        height:100%;        
    }
    &.center {
        text-align:center;
    }
    &.box1 {
        background: $dk-gray;
        padding: 20px 0;
        margin-bottom: 20px;
        a {
            color: #fff;
            &:hover, &:focus {
                color: $raspberry;
            }
        }
    }
}
.breadcrumb {
    background:none;
    padding:0;
    color:$gray;
    margin-top:10px;
    a {
        color:$gray;
        letter-spacing:1px;
        text-decoration: none;
        text-transform:uppercase;
        &:hover {
            color:#000;
        }
    }
    span {
        color:#000;
        letter-spacing:1px;
        text-transform:uppercase;
        position: relative;
        &::before {
            content: "";
            height: 3px;
            background: $avacado;
            width: 100%;
            bottom: calc(100% + 9px);
            left: 0;
            position: absolute;
        }
    }
}
div[id*="local-tasks"] {
    ul {
        padding:0;
        list-style-type:none;
        border-bottom:2px solid $lt-gray;
        li {
            display:inline-block;
            background:$lt-gray;
            padding:10px;
            @include transition(background .3s linear);
            &:hover, &:focus {
                background:$gray;
                a {
                    color:#fff;
                }
            }
            a {
                color:$dk-gray;
            }
        }
    }
}
.social-share {
    position: fixed;
    left: 0;
    z-index: 1;
    @include breakpoint(xs) {
        position: relative;
        margin:20px 0;
    }
    > * {
        color: #fff;
        display: block;
        line-height: 43px;
        font-size: 20px;
        text-align: center;
        text-decoration: none !important;
        width: 40px;
        height: 40px;
        @include transition(background .3s linear);
        @include breakpoint(xs) {
            display:inline-block;
        }
        &.facebook {
            background:#3b5998;
            &:hover, &:focus {
                color:#fff;
                background:darken(#3b5998,10%);
            }
        }
        &.twitter {
            background:#1da1f2;
            &:hover, &:focus {
                color:#fff;
                background:darken(#1da1f2,10%);
            }
        }
        &.email {
            background:#323a45;
            &:hover, &:focus {
                color:#fff;
                background:darken(#323a45,10%);
            }
        }
        &.copy-link {
            background:$dk-gray;
            cursor: pointer;
            position: relative;
            &:hover, &:focus {
                color:#fff;
                background:darken($dk-gray,10%);
                &::before {
                    background: $dk-gray;
                    bottom: 0;
                    color: #fff;
                    content: "Copy Link";
                    font-size: 16px;
                    line-height: 18px;
                    left: calc(100% + 10px);
                    padding: 10px;
                    position: absolute;
                    white-space: nowrap;
                    @include breakpoint(xs) {
                        left: 0;
                        bottom:calc(100% + 10px);
                    }
                }
            }
            &.success {
                &:hover, &:focus {
                    &::before {
                        content:"Copied!";
                        background:$green;
                    }
                }
            }
        }
    }
}
//MENU CTA
.menu-cta {
    overflow: hidden;
    .row {
        margin: 0 -2px;
    }
    .img {
        border: 2px solid #fff;
        border-top-width: 4px;
        border-bottom-width: 4px;
        position: relative;
        @include breakpoint(xs) {
            border-bottom: 0;
        }
        &::before {
            background: #000;
            content: "";
            height: 100%;
            left: 0;
            opacity: .4;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        &:hover {
            img {
                @include breakpoint(smmin) {                    
                    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(0%);
                }
            }
        }
        img {
            @include breakpoint(smmin) {                
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                @include transition(filter .3s linear);
            }
        }
        .title {
            color: #fff;
            display: block;
            font-family: $sans;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 1px;
            position: absolute;
            top: 50%;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            z-index: 2;
            @include translate(0,-50%);
            @include breakpoint(smmax){
                font-size:18px;
            }
        }
    }
}
//IMAGE SLIDER
.slick {
    margin-bottom: -1px;    
    .slide {
        overflow: hidden;
        padding: 100px 0;
        position: relative;
        @include breakpoint(xs) {
            padding: 0;
        }
        .img {        
            left: 0;
            position: absolute;
            top:50%;
            @include translate(0,-50%);
            @include breakpoint(xs) {
                position: relative;
                top: 0;
                @include translate(0,0);
            }
        }
        .blurb {
            background:#fff;
            padding: 60px 80px;
            position: relative;
            width: 60%;
            @include breakpoint(xs) {
                padding: 20px;
                width: 100%;
            }
            h2 {
                margin-top: 0;
            }
            p {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}

//LUNCH CTA
.lunch-cta {
    margin-bottom: 30px;
}

//CONTACT FORM
.contact-form {
    background:$teal;
    color: #fff;
    margin-top: 40px;
    padding: 40px 0 100px;
    text-align: center;
}
//EVENTS FILTER
.events-filter {
    form {
        margin: 0 -15px 30px;
        .form-item {
            padding: 0;
            width:60%;
            @include breakpoint(xs) {
                width: 100%;
            }
        }
        .form-actions {
            float: left;
            margin-left: 20px;
            @include breakpoint(xs) {
                margin-left: 0;
            }
        }
    }
}