body {
    .card {
        margin-bottom: 20px;
        padding: 30px;
        &.raspberry {
            background: $raspberry;
            color: #fff;
            &.outline {
                background: transparent;
                border: 2px solid $raspberry;
                color: #000;
            }
        }
        &.avocado {
            background: $avocado;
            color: #000;
            &.outline {
                background: transparent;
                border: 2px solid $avocado;
            }
        }
        &.gray {            
            background: $gray;
            color: #000;
            &.outline {
                background: transparent;
                border: 2px solid $gray;
            }
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }  
            a {
                &:not(.btn) {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }  
        }
    } 
    .sidebar {
        .card {
            .btn {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}