body {
    section {
        position:relative;
        .container {
            position:relative;
            height: 100%;
        }
        &.main {
            + .footer {
                margin-top:80px;
            }
            .sidebar {
                .nav {
                    ul {
                        .level-1 {
                            display: none;
                            &.active-trail {
                                display: block;
                                > a {
                                    font-size: 21px;
                                    font-weight: 600;
                                    margin-bottom: 10px;
                                    text-transform: uppercase;
                                }
                                a {
                                    display: block;
                                    padding: 0 30px;
                                    position: relative;
                                    text-decoration: none;
                                    &.is-active {
                                        &::before {
                                            background:$teal;
                                            content: "";
                                            height: 5px;
                                            left: 0;
                                            position: absolute;
                                            top: 50%;
                                            width: 30px;
                                            @include translate(-50%,-50%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .menu-toggle {
                        display: none;
                    }
                }
            }
        }
        &.bottom {
            background: $blue;
            padding: 60px 0;
            text-align: center;
            h2 {
                color:#fff;
            }
            p {
                color:#fff;
            }
        }
    }   
}