body {
    section {
        position:relative;
        .container {
            position:relative;
            height: 100%;
        }
        &.main {
            + .footer {
                margin-top:80px;
            }
            article {
                .slick {
                    @include breakpoint(lg) {
                        max-width:66%;
                    }
                }
            }
            .sidebar {
                .nav {
                    ul {
                        .level-1 {
                            display: none;
                            &.active-trail {
                                display: block;
                                > a {
                                    font-size: 21px;
                                    font-weight: 600;
                                    margin-bottom: 10px;
                                    text-transform: uppercase;
                                }
                                a {
                                    display: block;
                                    padding: 0 30px;
                                    position: relative;
                                    text-decoration: none;
                                    &.is-active {
                                        &::before {
                                            background:$teal;
                                            content: "";
                                            height: 5px;
                                            left: 0;
                                            position: absolute;
                                            top: 50%;
                                            width: 30px;
                                            @include translate(-50%,-50%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .menu-toggle {
                        display: none;
                    }
                }
            }
        }
        &.bottom {
            background: $blue;
            padding: 60px 0;
            text-align: center;
            h2 {
                color:#fff;
            }
            p {
                color:#fff;
            }
        }
    } 
    //MENU PAGE
    .icon-vegan {
        display: inline-block;
        margin-right: 5px;
        vertical-align: -20px;
        &::before {
            border: 2px solid;
            border-radius: 100%;
            color: $gray;
            content: "VE";
            display: block;
            font-family: $sans;
            font-size: 12px;
            font-weight: 500;
            height: 25px;
            line-height: 22px;
            text-align: center;
            width: 25px;
        }
    }
    .icon-veg {
        display: inline-block;
        margin:0 5px 0 10px;
        vertical-align: -20px;
        &::before {
            border: 2px solid;
            border-radius: 100%;
            color: $gray;
            content: "VG";
            display: block;
            font-family: $sans;
            font-size: 12px;
            font-weight: 500;
            height: 25px;
            line-height: 22px;
            text-align: center;
            width: 25px;
        }
    }
    .icon-gf {
        display: inline-block;
        margin:0 5px 0 10px;
        vertical-align: -20px;
        &::before {
            border: 2px solid;
            border-radius: 100%;
            color: $gray;
            content: "GF";
            display: block;
            font-family: $sans;
            font-size: 12px;
            font-weight: 500;
            height: 25px;
            line-height: 22px;
            text-align: center;
            text-indent: -1px;
            width: 25px;
        }
    }
    //MENU SECTIONS
    .menu-section {
        columns: 3;
        column-rule: 2px solid $gray;
        column-gap: 80px;
        @include breakpoint(xs){
            columns:1;
        }
        .food-item {
            display: inline-block;
            page-break-inside: avoid;
            break-inside: avoid;
            width:100%;
            &.drink {
                .price {
                   font-size: 16px; 
                }
            }
            h5 {
                color:$teal;
                font-weight: 600;
                margin-bottom: 10px;    
            }
            .price {
                font-size: 18px;
                font-weight: 600;
                text-align: right;
                @include breakpoint(xs) {
                    margin-bottom: 10px;
                    text-align: left;
                }
                span {
                    display: block;
                }
            }
            .icon-vegan, .icon-gf {
                float: right;
                margin-left: 5px;
                vertical-align: 0;
                &::before {
                    color: $md-gray;
                    font-size: 14px;
                    height: 30px;
                    line-height: 26px; 
                    width: 30px;
                }
            }
        }
    }
    //LUNCH CTA
    .lunch-cta {
        .blurb {
            background:$lt-gray;
            padding:35px 40px;
            ul {
                li {
                    margin-bottom: 15px;
                }
            }
        }
    }
    //EVENTS
    .event {
        &.teaser {
            position: relative;
            margin-bottom: 30px; 
            &::before {
                opacity:1;
                @include imgGradient;
                @include transition(opacity .3s linear);
            }
            &:hover, &:focus {
                &::before {
                    opacity: .5;
                }
            }
            .blurb {
                position: absolute;
                bottom: 0;
                padding: 20px;
                left: 0;
                color: #fff;
                font-weight: 600;
                letter-spacing: .5px;
            }
        }
    }        
}