body {
    section {
        position:relative;
        .container {
            position:relative;
            height: 100%;
        }
        &.banner {
            margin-bottom:30px;
        }
        &.main {
            + .feature {
                margin-top:40px;
            }
            + .footer {
                margin-top:20px;
            }
        }
        &.bottom {
            background: $blue;
            padding: 60px 0;
            text-align: center;
            h2 {
                color:#fff;
            }
            p {
                color:#fff;
            }
        }
    }   
}