.footer {
    background:url("/themes/littlemarket/img/footer-bg.jpg") no-repeat $dk-gray;
    background-size:cover;
    padding:20px 0;
    h4 {
        color: #fff;
        text-transform: uppercase;
    }
    p {
        color: #fff;
    }
    i {
        color:#fff;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        padding: 8px;
        font-size: 0;
        vertical-align: top;
        @include transition(color 0.3s linear);            
        &::before {
            font-size:20px;
        }
        &.icon-facebook {
            &:hover, &:focus {
                color:#3b5998;
                border-color: #3b5998;
            }
        }
        &.icon-instagram {
            &:hover, &:focus {
                color:#f56040;
                border-color: #f56040;
            }
        }
        &.icon-twitter {
            &:hover, &:focus {
                color:#1da1f2;
                border-color: #1da1f2;
            }
        }
    }
}