.toolbar-fixed {
    header {
        top:80px;
    }
}
header {    
    left: 0;
    position:fixed;
    top:0;
    width:100%;
    z-index: 9;
    .awning {
        position: absolute;
        top: 60px;
        width:100%;
        z-index:0;
        @at-root {
            body {
                &.up {
                    .awning {
                        top: 55px;
                        span {
                            height: 7vh;
                            @for $i from 1 through 25 {
                                &:nth-child(#{$i}n) {
                                    transition-delay: #{$i * 0.05}s;
                                }
                            }
                        }
                    }
                }
                &.down {
                    .awning {
                        span {
                            height: 10vh;                          
                            @for $i from 1 through 25 {
                                &:nth-last-child(#{$i}n) {
                                    transition-delay: #{$i * 0.05}s;
                                }
                            }
                        }
                    }
                }
            }
        }
        span {
            background: #fff;
            border:2px solid #121212;
            border-radius: 0 0 2vw 2vw;
            display:block;
            float:left;
            height:10vh;
            max-height: 100px;
            width: 4%;
            transition: height .3s linear;
            &:nth-of-type(even) {
                background: #121212;
            }
        }
    }
    .navigation {
        background: #121212;
        border-bottom:2px solid #121212;
        padding:20px 0;
        position:relative;
        z-index: 9;
        .up &{
            @include breakpoint(smmax) {
                padding: 5px 0;
            }
        }
        .inner {
            display:grid;
            grid: auto-flow dense / auto 350px auto;
            @include breakpoint(smmax) {
                grid: auto-flow dense / auto auto;
            }
            .logo {
                grid-column-start:2;
                place-self: start center;
                width: 250px;
                @include transition(width .3s linear);
                @include breakpoint(smmax) {
                    grid-column-start:1;
                    place-self: center start;
                    width: 200px;
                }
                .up &{
                    width: 150px;
                }
            }
            nav { 
                place-self:center;
                text-align: center;
                &:first-of-type {            
                    grid-column-start:1;
                }
                &:last-of-type {            
                    grid-column-start:3;
                }
                @include breakpoint(smmax) {
                    display: none;
                }
                ul {
                    list-style-type:none;
                    margin:0; 
                    padding:0; 
                    li {
                        display:inline-block;
                        + li {
                            margin-left: 25px;
                        }
                        a {
                            color: #fff;
                            font-family: $script;
                            font-size:21px;
                            letter-spacing: 1.5px;
                            text-transform: uppercase;
                            text-decoration: none;
                            @include transition(font-size .3s linear, color .3s linear);
                            &:hover, &:focus {
                                color: $salmon;
                            }
                            &.pink {
                                color: $raspberry;                                           
                                @include animation(pink-pulse 1s linear infinite alternate);  
                                @at-root {
                                    @include keyframes(pink-pulse) {
                                        from {
                                            color: $raspberry 
                                        }
                                        to {
                                            color: $salmon
                                        }
                                    }
                                }
                                &:hover, &:focus {
                                    color: #fff;
                                }
                            }
                            .up &{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .menu-toggle {
                color: #fff;
                display: none;
                grid-column-start: 2;
                font-size: 40px;
                text-align: right;
                width: 70vw;
                @include breakpoint(smmax) {
                    display: block;
                }
            }
            .mobile-menu {
                background: #000;
                display: none;
                padding: 30px;
                position: fixed;
                text-align: center;
                @include breakpoint(smmax) {
                    display: block;
                }
                .menu-open &{
                    left: 30vw;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        a {
                            color: #fff;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
body {
    @include breakpoint(xs){
        overflow-x: hidden;
        @include translate(0,0);
        @include transition(transform .3s $cubic);
    }
    &.menu-open {
        @include breakpoint(xs){
            @include translate(-60vw,0);
            overflow: hidden;
        }
    }
}