.header {
    padding: 20px 0;
    .home-wrap &{
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9;
    }
    nav {
        margin-top: 80px;
        ul {
            text-align: right;
            li {
                display: inline-block;
                margin-left: 20px;
                a {
                    color: #fff;
                    display: block;
                    font-size: 21px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    text-transform: uppercase;
                    @include transition(color .3s linear);
                    &:hover, &:focus, &.is-active {
                        color:$gold;
                    }
                }
            }
        }
    }
}