header {    
    left: 0;
    position:fixed;
    top:0;
    width:100%;
    z-index: 9;
    .awning {
        position: absolute;
        top: 60px;
        width:100%;
        z-index:0;
        @at-root {
            body {
                &.up {
                    .awning {
                        span {
                            height: 7vh;
                            @for $i from 1 through 25 {
                                &:nth-child(#{$i}n) {
                                    transition-delay: #{$i * 0.05}s;
                                }
                            }
                        }
                    }
                }
                &.down {
                    .awning {
                        span {
                            height: 10vh;                          
                            @for $i from 1 through 25 {
                                &:nth-last-child(#{$i}n) {
                                    transition-delay: #{$i * 0.05}s;
                                }
                            }
                        }
                    }
                }
            }
        }
        span {
            background: #fff;
            border:2px solid #121212;
            border-radius: 0 0 2vw 2vw;
            display:block;
            float:left;
            height:10vh;
            max-height: 100px;
            width: 4%;
            transition: height .3s linear;
            &:nth-of-type(even) {
                background: #121212;
            }
        }
    }
    .navigation {
        background: #121212;
        border-bottom:2px solid #121212;
        padding:20px 0;
        position:relative;
        z-index: 9;
        .inner {
            display:grid;
            grid: auto-flow dense / auto 350px auto;
            .logo {
                background: #333;
                border-radius: 3px;
                grid-column-start:2;
                height: 100px;
                place-self: start center;
                position:absolute;
                width: 250px;
            }
            nav { 
                place-self:center;
                text-align: center;
                &:first-of-type {            
                    grid-column-start:1;
                }
                &:last-of-type {            
                    grid-column-start:3;
                }
                ul {
                    list-style-type:none;
                    margin:0; 
                    padding:0; 
                    li {
                        display:inline-block;
                        + li {
                            margin-left: 25px;
                        }
                        a {
                            color: $moss;
                            font-family: $script;
                            font-size:21px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
body {
    @include breakpoint(xs){
        overflow-x: hidden;
        @include translate(0,0);
        @include transition(transform .3s $cubic);
    }
    &.menu-open {
        @include breakpoint(xs){
            @include translate(-60vw,0);
            overflow: hidden;
        }
    }
}