.flush {
    margin:0!important;
}
.unstyled {
    list-style-type:none;
    padding:0;    
}
.row {
    &.no-gutter {
        margin:0;
        > div {
            padding:0;
        }
    }
}

//Admin Toolbar Fix
.toolbar-fixed {
    margin-top:80px;
    padding-top: 0!important;
    position: relative;
}
//MODALS
.modal {
    .modal-content {
        background: transparent;
        border: none;
        box-shadow: none;
        .close {
            box-shadow: none;
            color: #fff;
            font-size: 36px;
            opacity: 1;
        }
    }
}