.home-wrap {
    .top {
        background:$blue;
        padding:60px 0;
    }
    .banner {
        margin-bottom:0;
    }
    .main {
        + .feature {
            margin-top: 0;
        }
    }
}