.intro {
    margin: 40px auto;
    width: 80%;
    @include breakpoint(smmax) {
        margin: 20px auto;
        width: 100%;
    }
    h2 {
        font-family: $script;
        font-size: 36px;  
        margin-bottom: 60px;
        position: relative;
        text-align:center;
        &::after {
            background: $raspberry;
            content: "";
            height:3px;
            left: 50%;
            position: absolute;
            top: calc(100% + 25px);
            transform: translate(-50%,0);
            width: 300px;
        }
    }
    p {
        font-family: $serif;
        font-size:18px;
        .btn {
            .small {
                @include breakpoint(xs) {
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }
}