.grid {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: auto;
    align-items: stretch;
    justify-items: stretch;
    margin-bottom: 45px;
    width: 100%;
    &::before, &::after {
        display:none!important;
    }
    //GRID COLUMNS
    &.one {        
        grid-template-columns: repeat(1, 100%);
    }
    &.two {        
        grid-template-columns: repeat(2, 50%);
        @include breakpoint(xs) {                
            grid-template-columns: repeat(1, 100%);
        }
        &.right {
            grid-template-columns: 40% 60%;
            @include breakpoint(sm) {                
                grid-template-columns: repeat(2, 50%);
            }
            @include breakpoint(xs) {                
                grid-template-columns: repeat(1, 100%);
            }
        }
        &.left {
            grid-template-columns:60% 40%;
            @include breakpoint(sm) {                
                grid-template-columns: repeat(2, 50%);
            }
            @include breakpoint(xs) {                
                grid-template-columns: repeat(1, 100%);
            }
        }
    }
    &.three {        
        grid-template-columns: repeat(3, 33.33%);
        @include breakpoint(sm) {            
            grid-template-columns: repeat(2, 50%);
        }
        @include breakpoint(xs) {            
            grid-template-columns: repeat(1, 100%); 
        }
    }
    &.four {        
        grid-template-columns: repeat(4, 25%);
        @include breakpoint(sm) {            
            grid-template-columns: repeat(2, 50%);
        }
        @include breakpoint(xs) {            
            grid-template-columns: repeat(1, 100%);
        }
    }
    .slick {
        max-width: none!important;
        width: 100%;
    }
}