.slick {
    .slick-arrow {
        background:$teal;
        color: #fff;
        font-size: 50px;
        position:absolute;
        height:70px;
        line-height: 80px;
        top: 50%;
        text-align: center;
        width:70px;
        z-index:9;
        @include translate(0,-50%);
        @include transition(background .3s linear, color .3s linear);
		@include breakpoint(xs) {
            width:30px;
        }
        &.prev-slide {
            left: -30px;
        }
        &.next-slide {
            right: -30px;
        }
        &:hover {
            background:darken($teal,10%);
        }
    }
    .slick-slide  {
        position:relative;
        img {
            max-width:100%;
            height:auto;
            margin: 0 auto;
            @include breakpoint(xs) {
                width:100%;
            }
        }
    }
}