@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400&display=swap');
//ICONS
@font-face {
  font-family: 'icomoon';
  src:  url('/themes/littlemarket/fonts/icomoon.eot?5h92x0');
  src:  url('/themes/littlemarket/fonts/icomoon.eot?5h92x0#iefix') format('embedded-opentype'),
    url('/themes/littlemarket/fonts/icomoon.ttf?5h92x0') format('truetype'),
    url('/themes/littlemarket/fonts/icomoon.woff?5h92x0') format('woff'),
    url('/themes/littlemarket/fonts/icomoon.svg?5h92x0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-right-arrow:before {
  content: "\e317";
}
.icon-left-arrow:before {
  content: "\e318";
}
.icon-double-arrow-left:before {
  content: "\f100";
}
.icon-double-arrow-right:before {
  content: "\f101";
}
.icon-plus:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e911";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pdf:before {
  content: "\f1c1";
}
.icon-print:before {
  content: "\f02f";
}
.icon-location:before {
  content: "\f124";
}
.icon-locations:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-star:before {
  content: "\f005";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-close:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-instagram:before {
  content: "\f16d";
}

//TYPOGRAPHY
body {    
    text-rendering: optimizeLegibility;
    font-size:16px;
    font-family:$sans;
    color:$dk-gray;    
    img {
        max-width:100%;
        height:auto;
        @include breakpoint(xs) {
            max-width:100%!important;
        }
        &.full-width {
            height: auto;
            width: 100%;
            margin:20px 0 10px;
        }
        &.img-right {
            float:right;
            margin-left:20px;
            margin-bottom:20px;
            @include breakpoint(xs) {
                float:none;
                margin-left:0;
            }
        }
        &.img-left {
            float:left;
            margin-right:20px;
            margin-bottom:20px;
            @include breakpoint(xs) {
                float:none;
                margin-right:0;
            }
        }
    }
    h1 {
        color:$blue;
        font-family: $serif;
        font-size:55px;
        line-height: 65px;
        margin: 0 0 30px 0;
        @include breakpoint(xs) {
            font-size: 40px;
            line-height: 55px;
        }
    }
    h2 {
        font-family: $serif;
        font-size:35px;
        font-weight:500;
        line-height: 48px;
        margin:0 0 20px 0;
        letter-spacing:1px;
        @include breakpoint(xs) {
            font-size: 26px;
            line-height: 32px;
        }
    }
    h3 {
        color:$dk-gray;
        font-family:$sans;
        font-size: 24px;
        font-weight: 500;
        margin:30px 0 18px 0;
        @include breakpoint(xs) {
            font-size: 20px;
        }
    }
    h4 {
        font-size:20px;
        margin:30px 0 18px 0;
    }
    h5 {
        font-size: 18px;
        margin:0 0 15px 0;
    }
    p {
        font-size:16px;
        line-height:22px;
        margin-bottom:20px;        
        &.lead {
            font-family: $serif;
            font-size:21px;
            line-height:28px;
            &:first-letter {
                color: $raspberry;
                font-size:36px;
                font-weight:600;
            }
        }
    }
    a {
        text-decoration: none;
        @include transition(color .3s linear);
    }
    blockquote {
        margin:30px 0;
        border-left:5px solid $blue;
        &.pull-right {
            border-left: none;
            border-right:5px solid $gold;
            float:none!important;
        }
        p {
            font-family:$serif, serif;
            color:$dk-gray;
            font-style:italic;
            font-size:21px;
            font-weight:600;
            line-height:30px;
        }
        strong {
            color:$gray;
            font-style:normal;
            font-weight:400;
            font-family:$sans;
        }
    }
    figure {
        &.align-left {
            margin:10px 20px 10px 0;
        }
        &.align-right {
            margin:10px 0 10px 20px;
        }
        figcaption {
            font-family:$sans;
            color:$gray;
            margin-top:10px;
            display:block;
            font-size:14px;
        }
    }
    table {
        border:none;
        tr {
            th {
                border:none;
                background:$blue; 
                font-family:$sans;
                color:#fff;
                padding:15px 30px;
                font-weight:700;
                text-transform:uppercase;   
            }
            td {
                border:none;
                background:#fff;
                padding:10px;
            }
            &:nth-of-type(2n) {
                td {
                    background:$lt-gray;
                    border-top:1px solid $gray;
                }
            }
        }
    }
}

.typography {
    i {
        font-size:24px
    }
    .example {
        border:1px solid darken(#f5f5f5, 20%);
        padding:30px 10px 10px;
        position:relative;
        &::after {
            background-color: #ebebeb;
            border: 1px solid #dddddd;
            border-radius: 0 0 4px 0;
            color: #9da0a4;
            content: "Example";
            font-size: 12px;
            font-style: normal;
            font-weight: bold;
            left: -1px;
            padding: 3px 7px;
            position: absolute;
            top: -1px;
        }
        + code, + .codeblock {
            background:#f5f5f5;
            border:1px solid darken(#f5f5f5, 20%);
            border-top:0;
            color:#333;
            display:block;
            border-radius:0;
            padding:10px;
            code {
                background:none;
                border:none;
                padding:0;
            }
        }
    }
    .row {
        + .row {
            margin-top:30px;
        }
    }
}