/*COLORS*/
$lt-gray: #f5f5f5;
$gray: #afb0b5;
$dk-gray: #212121;
$blue: #324477;
$gold: #eeb319;
$red: #e21e3e;
$green: #2e8540;

/*FONTS*/
$font-ss: 'Source Sans', sans-serif;
$font-mw: 'Merriweather', serif;


//CSS ANIMATIONS
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);