/*COLORS*/
$lt-gray: #f5f5f5;
$gray: #afb0b5;
$md-gray: #72747b;
$dk-gray: #212121;
$blue: #324477;
$teal: #216d7d;
$gold: #eeb319;
$red: #e21e3e;
$green: #2e8540;
$purple: #9a1385;


$seafoam: #83AF9B;
$moss: #C8C8A9;
$champagne: #F9CDAD;
$salmon: #FC9D9A;
$raspberry: #FE4365;

//fonts
$script: 'Permanent Marker', cursive;
$serif: 'Caladea', serif;
$sans: 'Montserrat', sans-serif;


//CSS ANIMATIONS
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);