/*COLORS*/
$lt-gray: #f5f5f5;
$gray: #afb0b5;
$md-gray: #5b616b;
$dk-gray: #212121;
$blue-gray: #323a45;
$blue: #0d71ba;
$md-blue: #1f5594;
$dk-blue: #112e50;
$teal: #00c0e7;
$red: #e21e3e;
$dk-red: #981c20;
$green: #2e8540;

/*FONTS*/
$font-ss: 'Source Sans', sans-serif;
$font-mw: 'Merriweather', serif;


//CSS ANIMATIONS
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);