<article{{ attributes.addClass('event') }}>
  <div class="row">
      <div class="col-xs-12 col-sm-5 pull-right">
        {{ content.field_image }}
      </div>
      <div class="col-xs-12 col-sm-7">
        {{ content.body }}
      </div>
  </div>
</article>
